<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/galeria.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <section class="banner" id="banner">
      <ul class="banner-slider">
        <li class="banner-item active-banner">
          <div class="container">
            <h1>La auténtica pasión culinaria</h1>
            <p class="text">la comida es el ingrediente que nos une.</p>
            <button type="button">ordenar</button>
          </div>
        </li>
        <li class="banner-item">
          <div class="container">
            <h1>Descubre la magia de los sabores</h1>
            <p class="text">saborea la fusión que nos une.</p>
            <button type="button">ordenar</button>
          </div>
        </li>
        <li class="banner-item">
          <div class="container">
            <h1>Cocina con alma</h1>
            <p class="text">amor y dedicación en cada receta.</p>
            <button type="button">ordenar</button>
          </div>
        </li>
      </ul>
    </section>

    <!--navbar-->
    <nav class="navbar containerNav">
      <div class="container">

        <div class="logo-toggler">

          <a href="/" class="navbar-brand">
            <img src="/img/images/LOGO.png" />
          </a>

          <button type="button" class="hamburger" id="navbar-burger">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li><a href="/">inicio</a></li>
            <li><a href="/menu">menú</a></li>
            <li><a href="/galeria" class="action">galería</a></li>
            <li><a href="/pedidos">pedidos</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

    <!--title-->
    <div class="title">
        <h2>Galería</h2>
        <div class="line center">
          <div></div>
          <span>
            <i class="fas fa-utensils"></i>
          </span>
          <div></div>
        </div>
      </div>

  <!--Galeria-->
  <section>
    <div class="container">
    <div class="wrapper galeria-popup">

        <div class="galeria-items">
            <a href="/img/galeria/aji-de-gallina.jpg">
                <img src="/img/galeria/aji-de-gallina.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>aji de gallína</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/locro.jpg_1159711837.jpg">
                <img src="/img/galeria/locro.jpg_1159711837.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>locro</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/causa-rellena.jpg">
                <img src="/img/galeria/causa-rellena.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>causa rellana</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/lomo.jpg">
                <img src="/img/galeria/lomo.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>lomo saltado</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/papa-a-la-huancaina.jpg">
                <img src="/img/galeria/papa-a-la-huancaina.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>papa a la huancaína</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/receta-seco-de-pollo..jpg">
                <img src="/img/galeria/receta-seco-de-pollo..jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>seco de pollo</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/menestron-min.png">
                <img src="/img/galeria/menestron-min.png">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>menestron</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/La-Granja-Real-Food-Chicken-Granja-Chicharron.png">
                <img src="/img/galeria/La-Granja-Real-Food-Chicken-Granja-Chicharron.png">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>chicharron</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/Cau_Cau_de_Pollo_Recipes_800x800.jpg">
                <img src="/img/galeria/Cau_Cau_de_Pollo_Recipes_800x800.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>cau cau de pollo</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/chau.jpg">
                <img src="/img/galeria/chau.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>arroz chaufa</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/cev.jpg">
                <img src="/img/galeria/cev.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>ceviche</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/bis.jpg">
                <img src="/img/galeria/bis.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>bistec a lo pobre</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/papa-rellena-imagen-destacada.jpg">
                <img src="/img/galeria/papa-rellena-imagen-destacada.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>papa rellena</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/tallarines_verdes_con_bistec_apanado_729-reg.jpg">
                <img src="/img/galeria/tallarines_verdes_con_bistec_apanado_729-reg.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>tallarines verdes</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/peruvian-rocoto-relleno-dish-on-plate-1-800x800.jpg">
                <img src="/img/galeria/peruvian-rocoto-relleno-dish-on-plate-1-800x800.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>rocoto relleno</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/arveja-partida-perfil.jpg">
                <img src="/img/galeria/arveja-partida-perfil.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>arverja partida</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/arroz-con-pato-norteno.jpg">
                <img src="/img/galeria/arroz-con-pato-norteno.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>arroz con pato</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="galeria-items">
            <a href="/img/galeria/wj9StE8aoYpbBma67-ARROZ CON MARISCOS.jpg">
                <img src="/img/galeria/wj9StE8aoYpbBma67-ARROZ CON MARISCOS.jpg">
                <div class="galeria-overlay">
                    <div class="galeria-overlay-contenido">
                        <div>
                            <h2>arroz con mariscos</h2>
                        </div>
                        <h5>comida criolla</h5>
                    </div>
                </div>
            </a>
        </div>
      </div>  
    </div>
</section>
  

  <!--footer-->
  <footer>
    <div class="footer-info">
      <div class="container">
        <div class="footer-row-2">
          <div class="footer-col-1">
            <h2>Contáctanos</h2>
            <ul>
              <li>Lima, Perú</li>
              <li>987 888 266</li>
              <li>lacasadelleon@gmail.com</li>
              <li>www.lacasadelleon.web.app</li>
            </ul>
          </div>
          <div class="footer-col-2">
            <h2>Siguenos</h2>
            <p class="text">Te invitamos a seguirnos en nuestras redes sociales.</p>
            <ul class="center">
              <li class="center">
                <a href="https://www.facebook.com/la.casa.del.leon.restaurant/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="center">
                <a href="https://wa.me/+51957640329">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
    <p class="text">&copy; La Casa del León 2025</p>
  </footer>

<script src="/jquery/jquery-3.5.1.js"></script>
<script src="/js/app.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/galeria.js"></script>
</body>

</html>