<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
  <header>
    <section class="banner" id="banner">
      <ul class="banner-slider">
        <li class="banner-item active-banner">
          <div class="container">
            <h1>La auténtica pasión culinaria</h1>
            <p class="text">la comida es el ingrediente que nos une.</p>
            <button type="button">ordenar</button>
          </div>
        </li>
        <li class="banner-item">
          <div class="container">
            <h1>Descubre la magia de los sabores</h1>
            <p class="text">saborea la fusión que nos une.</p>
            <button type="button">ordenar</button>
          </div>
        </li>
        <li class="banner-item">
          <div class="container">
            <h1>Cocina con alma</h1>
            <p class="text">amor y dedicación en cada receta.</p>
            <button type="button">ordenar</button>
          </div>
        </li>
      </ul>
    </section>

    <!--navbar-->
    <nav class="navbar containerNav">
      <div class="container">

        <div class="logo-toggler">

          <a href="index.html" class="navbar-brand">
            <img src="images/images/LOGO.png">
          </a>

          <button type="button" class="hamburger" id="navbar-burger">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li><a href="index.html" class="action">inicio</a></li>
            <li><a href="menu.html">menú</a></li>
            <li><a href="galeria.html">galería</a></li>
            <li><a href="pedidos.html">pedidos</a></li>
        </ul>
        </div>
      </div>
    </nav>
  </header>

  <!--title-->
  <div class="title">
    <h2>Acerca de Nosotros</h2>
    <div class="line center">
      <div></div>
      <span>
        <i class="fas fa-utensils"></i>
      </span>
      <div></div>
    </div>
  </div>

  <!--acerca de nosotros-->
  <section class="sobre-nosotros" id="sobre-nosotros">
    <div class="container">
      <div class="sobre-nosotros-row">
        <div class="sobre-nosotros-col-1">
          <img src="images/images/sobre1.jpg">
        </div>
        <div class="sobre-nosotros-col-2">

          <p class="text">
            Con más de treinta años de trayectoria, nuestro restaurante ha dejado una marca imborrable desde su fundación en 1985 por el señor Jhonathan León. En todo este tiempo, nos hemos destacado por ofrecer una cocina tradicional excepcional en un ambiente acogedor.
          </p>
          <p class="text">
            Hemos sido un punto de encuentro para amigos y familias a lo largo de los años, un lugar donde pueden disfrutar de una comida auténtica y reconfortante. Nuestro ambiente acogedor, lleno de detalles rústicos y cálidos, te hará sentir como en casa desde el momento en que entres por nuestras puertas.
          </p>
          <p class="text">
            Te invitamos a que nos visites y experimentes por ti mismo nuestra pasión por la cocina tradicional, el ambiente acogedor y el servicio excepcional. ¡Esperamos darle la bienvenida en nuestro restaurante y ser parte de tus momentos especiales!"
          </p>
        </div>
        <div class="sobre-nosotros-col-3">
          <img src="images/images/sobre2.jpg">
        </div>
      </div>
    </div>
  </section>

  <!--horario-->
  <section class="horario padding-y" id="horario">
    <div class="container">
      <div class="title">
        <h2>Horario de Atención</h2>
        <div class="line center">
          <div></div>
          <span>
            <i class="fas fa-utensils"></i>
          </span>
          <div></div>
        </div>
      </div>

      <div class="horario-row">
        <p class="text">abrimos los 7 dias de la semana</p>
        <h3>Lima, Perú</h3>
        <ul>
          <p class="text">Lunes a Viernes</p>
          <li>7PM a 11PM</li>
          <p class="text">Sabados y Domingos</p>
          <li>5PM a 1AM</li>
        </ul>
      </div>
    </div>
  </section>

  <!--footer-->
  <footer>
    <div class="footer">
      <div class="container">
        <div class="footer-row-2">
          <div class="footer-col-1">
            <h2>Contáctanos</h2>
            <ul>
              <li>Lima, Perú</li>
              <li>987 888 266</li>
              <li>lacasadelleon@gmail.com</li>
              <li>www.lacasadelleon.web.app</li>
            </ul>
          </div>
          <div class="footer-col-2">
            <h2>Siguenos</h2>
            <p class="text">Te invitamos a seguirnos en nuestras redes sociales.</p>
            <ul class="center">
              <li class="center">
                <a href="https://www.facebook.com/la.casa.del.leon.restaurant/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="center">
                <a href="https://wa.me/+51957640329">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
    <p class="text">&copy; La Casa del León 2025</p>
  </footer>

<script src="jquery/jquery-3.5.1.js"></script>
<script src="js/app.js"></script>
</body>

</html>